body, p, table, tr, td, span, div, ul, li, fieldset {
  margin: 0px;
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 11px;
}

body { 
  background-color: #dddddd;
}

fieldset {
  width: 180px;
  margin: 2px;
}


div#header {
  height: 140px;
  position: relative;
  background-image: url(../images/header.jpg);
  background-repeat:no-repeat;
}


div#main { }

div#contentOuter {
  width: 900px;
  height: 100%;
  background-color: #ffffff;
  margin: auto;
  position: relative;
}

div#contentInner {
  margin: 10px;
}

div#carouselOuter {
  overflow: hidden;
  width: 100%;
  height: 450px;
  padding: 10px;
}

div#carouselConfig {
  width: 100%;
  background-color: #dddddd;
}

.leftContent {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.headline {
  font-size: 12px;
  font-weight: bold;
}

div#carouselConfig .expl {
  color: #ffffff;
  background-color: #888888;
}

#carouselValues {
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 10px;
}

input {
  height: 12px;
  font-size: 1em;
}

input.btn, input.sbmt {
  height: auto;
  font-size: 1.1em;
}

input.cvalinput {
  width: 35px;
}

.cvalrange {
  width: 30px;
}

.smallTextGrey {
  font-size: 9px;
  color: #666666; 
}

.modulOuter {
  border: 1px solid #cccccc;
}

#right {
  float: right;
  width: 250px;
}

#left {
  width: 610px;
}

.modulInner {
  margin: 8px;
  text-align: left;
}

.modulHeader {
  background-color: #88a5b8;
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  padding: 5px;
  font-variant: small-caps;
}

td.changelog {
  background-color: #dddddd;
}

div#footer {
  text-align: center;
}

pre {
  width: 612px; 
  background-color: #dddddd;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;       /* Opera 4-6 */
  white-space: -o-pre-wrap;       /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
